<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cm.android.framework"
          android:versionCode="1"
          android:versionName="1.0">

    <permission android:name="cm.android.framework" android:protectionLevel="signature"/>

    <uses-permission android:name="cm.android.framework"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.DEVICE_POWER"/>

    <application>
        <service android:name="cm.android.framework.core.daemon.DaemonService"
                 android:persistent="true" android:exported="false"
                 android:process=":daemon"
                 android:permission="cm.android.framework"/>

        <receiver android:name="cm.android.framework.core.daemon.DaemonReceiver"
                  android:process=":daemon">
            <intent-filter>
                <action android:name="cm.android.framework.intent.action.ALARM_WAKE_UP"/>
            </intent-filter>
        </receiver>

        <service android:name="cm.android.framework.core.CoreService" android:persistent="true"
                 android:stopWithTask="false" android:exported="false"
                 android:permission="cm.android.framework"/>
    </application>

</manifest>